name: Deploy

on:
  push:
    tags:
      - '*'
      - '!**-dev**'

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  deploy:
    needs:
      - tests
    environment: pypi_release
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Setup Python
        run: uv python install 3.12
      
      - name: Build
        run: uv build

      - name: Publish
        run: uv publish --dry-run
